 body {
 color: white;
 background: black;
 }
 header {
 border-bottom: solid 2px rgb(241, 5, 56);
 padding: 20px;
 font-size: 32px;
 color: rgb(222, 42, 228);

 }
.chamada {
background: rgb(118, 7, 236);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}



